/*
 * Noto Serif SC Medium — SIL Open Font License 1.1
 * Source package: @fontsource/noto-serif-sc 5.3.0
 */
@font-face {
  font-family: "Daxigua Noto Serif SC";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("./NotoSerifSC-Medium.woff2") format("woff2");
}
